<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head(#{'Welcome page'})"></head>
<body>

<div th:replace="fragments/layout :: login"></div>


<div>
    <h1>Welcome to Habitify!</h1>
    <h3>Habitify is an online program that is designed to help you build new habits through self-reflection.</h3>
    <br>
    <h3>Registered users have access to their own personal journal where you answer a new question each day.</h3>
    <br>
    <h3>There are also weekly public questions posted, where you can add your thoughts in public.</h3>
    <br>
    <h3>Join our community and become the best version of yourself!</h3>
</div>
</body>
</html>