<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head(#{'Questions'})"></head>
<body>

<table>
    <tr>
        <th>Day no.</th>
        <th>Question</th>
    </tr>
    <tr th:each = "question: ${questions}">
        <td th:text="${question.getId()}"></td>
        <td><a th:href="@{/answers/{questionId}/update(questionId=${question.getId()})}"
            th:text="${question.getQuestion()}"></a></td>
    </tr>
</table>



</body>
</html>